/* Horizontal Navigation */

#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#main-navbar ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  left: 50%;
}

#main-navbar li {
  float: left;
  position: relative;
  right: 50%
}

#main-navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}

#main-navbar a:hover {
  background-color: #000;
  display: block;
}

#navbar-container {
  float: left;
  position: relative;
  width: 100%
}

#onpage {
  text-decoration: underline overline;
}

/* Sidebar Navigation */

#sidebar { 
  background-color: red;
  display: block;
  position: fixed;
  right:0%; 
  height: 100%;
  width: 20%;  
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#sidebar ul li {
  padding: 15px 0;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
}

#sidebar li:hover {
  background-color: #000;
}
