/* For Top Horizontal Navigation */

#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#main-navbar ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  left: 50%;
}

#main-navbar li {
  float: left;
  position: relative;
  right: 50%
}

#main-navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}

#main-navbar a:hover {
  background-color: #000;
  display: block;
}

#navbar-container {
  float: left;
  position: relative;
  width: 100%
}

#onpage {
  text-decoration: underline overline;
}

/* For Right Sidebar Navigation */
position: fixed; 
right: 0%; 
background-color: red; 
height: 100%;
width: 20%; 
list-style-type: none; 
text-align: center; 
padding: 0;
display: block;
padding: 15px 0;
color: #fff; 
text-decoration: none; 
background-color: #000;
